auto-install-peers=true
engine-strict=true
; pnpm docker:build : this will fire `ERR_PNPM_MUSL  The current system uses the "MUSL" C standard library. Node.js currently has prebuilt artifacts only for the "glibc" libc, so we can install Node.js only for glibc
; use-node-version=18.16.0